.uk-section-color{
    background: rgb(235, 235, 235);
}
.uk-color{
    height: 70px;
}
.uk-width-1-2-ee{
    width: 60%;
}
.uk-width-1-2-cc{
    width: 35%;
}
#bb{
    font-size: 30px;
    color:black;
}
img{
    border: 2px solid #ebebeb;
    border-radius: 1%;
}
p.box {
   border-bottom: 1px solid rgb(240, 240, 240);
}
h3{
    font-weight: bold;
}
h5{
    font-size: 20px;
    font-weight: bold;
}
h6{
    font-weight: bold;
}
.img-a{
    border-radius: 45%;
}
p{
    color:rgb(0, 0, 0);
    font-size: 15px
}
u{
    color:rgb(146, 136, 76);
}
@media screen and (max-width:1300px){
    .uk-width-1-2-ee{
        width: 100%;
    }
    .uk-width-1-2-cc{   
        width: 100%;
    }
}